<extend name="Public:base" />
<block name="main">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 系统设置 </nav>
    <div class="page-container">
        <div class="row cl" style="margin-bottom: 30px;">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <a href="__APP__/Admin/System/index.html" class="btn btn-primary radius">&nbsp;&nbsp;基本设置&nbsp;&nbsp;</a>
                <a href="__APP__/Admin/System/service.html" class="btn btn-default radius">&nbsp;&nbsp;客服设置&nbsp;&nbsp;</a>
            </div>
        </div>
        <form action="__SELF__" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="website-title" name="company" placeholder="控制在25个字、50个字节以内" value="{$mes.company}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司地址：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="website-title" name="address" placeholder="控制在25个字、50个字节以内" value="{$mes.address}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司电话：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="website-title" name="tel" placeholder="控制在25个字、50个字节以内" value="{$mes.tel}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司网址：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" id="website-title" name="website" placeholder="控制在25个字、50个字节以内" value="{$mes.website}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>LOGO：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="uploader-thum-container">
                        <div id="fileList" class="uploader-list"></div>
                        <input type="file" name="logo" style="display: none;" onchange="preview1(this);">
                        <button onclick="upload_logo();" class="btn btn-default btn-uploadstar radius" type="button">开始上传</button>
                        <if condition="$mes.logo neq ''">
                            <div id="preview1" style="display: block;padding-top: 12px;"><img width="100" height="100" src="{$mes.logo}" /></div>
                            <else/>
                            <div id="preview1" style="display: none;padding-top: 12px;"></div>
                        </if>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="webname" id="website-title" placeholder="输入网址名称" value="{$mes.webname}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="title" id="website-title" placeholder="输入网址标题" value="{$mes.title}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="keywords" id="website-Keywords" placeholder="5个左右,8汉字以内,用英文,隔开" value="{$mes.keywords}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>描述：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea name="description" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="描述不能为空！" onKeyUp="textarealength(this,200)">{$mes.description}</textarea>
                    <!-- <input type="text" name="description" id="website-description" placeholder="控制在80个汉字，160个字符以内" value="{$mes.keywords}" class="input-text"> -->
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>ICO：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <div class="uploader-thum-container">
                        <div id="fileList" class="uploader-list"></div>
                        <input type="file" name="ico" style="display: none;" onchange="preview(this);">
                        <button onclick="upload_one();" class="btn btn-default btn-uploadstar radius" type="button">开始上传</button>
                        <if condition="$mes.ico neq ''">
                            <div id="preview" style="display: block;padding-top: 12px;"><img width="100" height="100" src="{$mes.ico}" /></div>
                            <else/>
                            <div id="preview" style="display: none;padding-top: 12px;"></div>
                        </if>
                    </div>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>版权信息：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="copyright" id="website-copyright" placeholder="&copy; 2016 H-ui.net" value="{$mes.copyright}" class="input-text">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">备案号：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" name="icp" id="website-icp" placeholder="京ICP备00000000号" value="{$mes.icp}" class="input-text">
                </div>
            </div>
<!--             <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">统计代码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea class="textarea" name="docount">{$mes.docount}</textarea>
                </div>
            </div> -->
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="article_save_submit();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                    <button class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
    function preview1(file) {
        var prevDiv = document.getElementById('preview1');
        prevDiv.style.display = "block";
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
            }
            reader.readAsDataURL(file.files[0]);
        } else {
            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
        }
    }
    function article_save_submit() {

        $("#form-article-add").submit();
    }

    function upload_one() {
        $("input[name=ico]").click();
    }
    function upload_logo() {
        $("input[name=logo]").click();
    }
    </script>
</block>
