<extend name="Public:base" />
<block name="main">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 访问记录 </nav>
    <div class="page-container" style="padding-top: 20px;">
        <form action="__APP__/Admin/System/views.html" method="get" id="search_form">
            <div class="text-c"> 时间范围：
                <input type="text" id="logmin" name="start" class="input-text Wdate" style="width:186px;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})"> -
                <input type="text" id="logmax" name="end" class="input-text Wdate" style="width:186px;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})">&nbsp;&nbsp;
                <button onclick="do_search();" id="" class="btn btn-success" type="button"><i class="Hui-iconfont">&#xe665;</i>搜索</button>
            </div>
        </form>
        <!--  <form action="__APP__/Content/index/pageSize/{$pageSize}.html" method="get">
            <div class="text-c">
                <input type="text" name="keywords" id="" placeholder="{$keywords|default=" 搜索标题或者内容 "}" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
            </div>
        </form> -->
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">
  共有数据：<strong>{$count}</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25">
                        <input type="checkbox" name="" value="">
                    </th>
                    <th width="30">ID</th>
                    <th>游客IP</th>
                    <th>访问时间</th>
                    <!-- <th width="70">操作</th> -->
                </tr>
            </thead>
            <tbody>
                <volist name="mess" id="v">
                    <tr class="text-c">
                        <td>
                            <input type="checkbox" value="{$v.id}" name="del[]">
                        </td>
                        <td>{$v.id}</td>
                        <td>{$v.ip}</td>
                        <td>{$v.vtime}</td>
                        <!--        <td>
        <a title="删除" href="javascript:;" onclick="system_log_del({$v.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td> -->
                    </tr>
                </volist>
            </tbody>
        </table>
        <div id="pageNav" class="pageNav">
            <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 35px;">
                <style type="text/css">
                .paginate_button {
                    border: 1px solid #ccc;
                    color: #666;
                    cursor: pointer;
                    display: inline-block;
                    font-size: 14px;
                    height: 26px;
                    line-height: 26px;
                    margin: 0 0 6px 6px;
                    padding: 0 10px;
                    text-align: center;
                    text-decoration: none;
                }
                
                .current {
                    background: #5a98de none repeat scroll 0 0;
                    color: #fff;
                }
                </style>
                <span class="r">
    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
    <if condition="$page eq 1">
    <else/>
    <a href="__APP__/Admin/System/views/page/1" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">首页</a>
    <a href="__APP__/Admin/System/views/page/{$page-1}" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
    </if>
    <span>
      <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{$page}</a>
    </span>
                <if condition="$page eq $totalPage">
                    <else/>
                    <a href="__APP__/Admin/System/views/page/{$page+1}" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
                    <a href="__APP__/Admin/System/views/page/{$totalPage}" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">尾页</a>
                </if>
            </div>
            </span>
        </div>
    </div>
    </div>
    <script>
    function do_search() {
        var start = $("input[name=start]").val();
        if (!start) {
            layer.msg("请选择开始时间！");
            $("input[name=start]").focus();
            return false;
        }
        var end = $("input[name=end]").val();
        if (!end) {
            layer.msg("请选择结束时间！");
            $("input[name=end]").focus();
            return false;
        }
        $("#search_form").submit();
    }
    </script>
</block>
