<extend name="Public:base" />
<block name="main">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 在线咨询</nav>
    <div class="page-container">
        <form action="__APP__/Admin/Content/consult{$str}.html" method="get">
            <div class="text-c">
               <span class="select-box inline">
                <select name="status" class="select">
                    <option value="1" <if condition="$status eq 1">selected="selected"</if>>未回复</option>
                    <option value="2" <if condition="$status eq 2">selected="selected"</if>>已回复</option>
                    
                </select>
                </span>
                <input type="text" name="keywords" id="" placeholder="{$keywords|default=" 关键字 "}" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
            </div>
        </form>
        
        <span class="r">
		每页：<strong>
			<span  class="select-box inline">
			<form action="__APP__/Admin/Content/consult{$str}.html" method="get" id="PageForm">
			<select name="pageSize" onchange="$('#PageForm').submit();"  class="select">
				<volist name="pageArr" id="v">
					<option value="{$v}" <if condition="$v eq $pageSize">selected<else/></if> >{$v}</option>
				</volist>
			</select>
			</form>
			</span></strong> 条 &nbsp; &nbsp;共：<strong>{$totalPage}</strong> 页 &nbsp; &nbsp;共有数据：<strong>{$article_count}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25">
                        <input type="checkbox" name="" value="">
                    </th>
                    <th>ID</th>
                    <!-- <th width="80">排序</th> -->
                    <th>咨询标题</th>
                    <th>咨询时间</th>
                    <!-- <th>更新时间</th> -->
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <form method="post" action="__APP__/Admin/Content/datadel" id="datadel_form">
                    <volist name="article" id="v">
                        <tr class="text-c">
                            <td>
                                <input type="checkbox" value="{$v.id}" name="del_ids[]">
                            </td>
                            <td>{$v.id}</td>
                           <!--  <td>
                                <input type="text" name="sort{$v.id}" class="input-text text-c" placeholder="{$v.sort}" onchange="do_sort({$v.id});" />
                            </td> -->
                            <td class=""><u style="cursor:pointer" class="text-primary"  title="{$v.content}">{$v.content}</u></td>
                            <td>{$v.addtime|date="Y-m-d H:i:s",### }</td>
                            <!-- <td>{$v.update_time}</td> -->
                           
                            <td><if condition="$v.status eq 1">未回复<elseif condition="$v.status eq 2"/>已回复<else/>已删除</if></td>
                            <td class="f-14 td-manage">
                                <if condition="$v.status eq 1">
                                <a style="text-decoration:none" class="ml-5" href="javascript:;" id="showModel" title="回复" onclick="replay({$v.id});"><i class="Hui-iconfont">回复</i></a>
                                </if>
                                <if condition="$v.status neq 0">
                                <a style="text-decoration:none" class="ml-5" onClick="replay_del({$v.id})" href="javascript:;" title="删除">删除</a></td>
                                </if>
                        </tr>
                    </volist>
                </form>
            </tbody>
        </table>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20" style="line-height: 35px;">
        <style type="text/css">
        .paginate_button {
            border: 1px solid #ccc;
            color: #666;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            height: 26px;
            line-height: 26px;
            margin: 0 0 6px 6px;
            padding: 0 10px;
            text-align: center;
            text-decoration: none;
        }
        
        .current {
            background: #5a98de none repeat scroll 0 0;
            color: #fff;
        }
        </style>
        <span class="r">
		<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
		<if condition="$page eq 1">
		<else/>
		<a href="__APP__/Admin/Content/index{$str}/page/1" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">首页</a>
		<a href="__APP__/Admin/Content/index{$str}/page/{$page-1}" class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" id="DataTables_Table_0_previous">上一页</a>
		</if>
		<span>
			<a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{$page}</a>
		</span>
        <if condition="$page eq $totalPage">
            <else/>
            <a href="__APP__/Admin/Content/index{$str}/page/{$page+1}" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">下一页</a>
            <a href="__APP__/Admin/Content/index{$str}/page/{$totalPage}" class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" id="DataTables_Table_0_next">尾页</a>
        </if>
    </div>
    </span>
    </div>
    
    <script type="text/javascript">
        

    function datadel() {
        $("#datadel_form").submit();
    }

    function replay_del(id) {
        layer.confirm("确定要删除吗？", function() {
            $.get("__APP__/Admin/Content/replay_del", {
                id: id
            }, function(msg) {
                if (msg == 200) {
                    layer.msg('已删除!', {
                        icon: 6,
                        time: 1000
                    }, function() {
                        window.location.reload();
                    });
                } else {
                    layer.msg('删除失败!');
                }
            });
        });
    }
    /*图片-下架*/
    function news_down(id) {
        layer.confirm('确认要取消推荐吗？', function(index) {
            $.get("__APP__/Admin/Content/news_down", {
                id: id
            }, function(msg) {
                if (msg == '200') {
                    layer.msg('取消推荐成功!', {
                        icon: 6,
                        time: 1000
                    }, function() {
                        location.reload();
                    });
                } else {
                    layer.msg('处理失败!', {
                        icon: 5,
                        time: 1000
                    });
                }
            })

        });
    }

    /*图片-发布*/

    function news_up(id) {
        layer.confirm('确认要推荐吗？', function(index) {
            $.get("__APP__/Admin/Content/news_up", {
                id: id
            }, function(msg) {
                if (msg == '200') {
                    layer.msg('推荐成功!', {
                        icon: 6,
                        time: 1000
                    }, function() {
                        location.reload();
                    });
                } else if(msg == 300){
                    layer.msg('最多只能推荐7篇文章!', {
                        icon: 5,
                        time: 2000
                    });
                } else{
                    layer.msg('处理失败!', {
                        icon: 5,
                        time: 1000
                    });
                }
            })
        });
    }

    function close_big() {
        $(".carrousel").css("display", "none");
    }

    function do_sort(id) {
        var sort = $("input[name=sort" + id + "]").val();
        $.get("__APP__/Admin/Content/done_sort", {
            id: id,
            sort: sort
        }, function(msg) {
            if (msg == '200') {
                location.reload();
            } else {
                layer.msg('排序出现错误!', {
                    icon: 5,
                    time: 1000
                });
            }
        })
    }
    </script>
</block>

<block name='modal'>
    <div id="modalBox" class="modalBox">
        <div class="modalBox-content" style="width: 40%;">
            <header class="modalBox-header">
                <h4>咨询回复</h4>
                <span class="close_hide">×</span>
            </header>
            <div class="modalBox-body" >
                <form action="__APP__/Admin/Content/article_add/id/{$mes.id}.html" method="post" class="form form-horizontal" id="reply-form" enctype="multipart/form-data">
                <textarea class="textarea" name="answer" id="answer" style="height: 200px;" placeholder="回复内容"></textarea>
                <input type="hidden" name="rid" id="rid">
                </form>
            </div>
            <footer class="modalBox-footer">
                <button id="sure" onclick="replay_submit()">提交</button>
                <button id="cancel">取消</button>
            </footer>
        </div>
    </div>
    <script type="text/javascript">
        // var btn = document.getElementById('showModel');
        // var userId=btn.attr("userId");
        var close = document.getElementsByClassName('close_hide')[0];
        var cancel = document.getElementById('cancel');
        var modal = document.getElementById('modalBox');
        
        // btn.addEventListener('click', function(){
        //     modal.style.display = "block";
            
        // });
        close.addEventListener('click', function(){
            modal.style.display = "none";
        });
        cancel.addEventListener('click', function(){
            modal.style.display = "none";
        });
        function replay(id) {
            $("#modalBox").css("display","block");
            $("#rid").val(id);
        }
        function replay_submit(id) {
            modal.style.display = "none";
            var rid=$("#rid").val();
            var answer=$("#answer").val();
            if(!answer){
                layer.msg("请输入回复内容",{icon:2});
                return false;
            }
            $.get("__APP__/Admin/Content/replay",{rid:rid,answer:answer},function(msg){
                if(msg == 200){
                    layer.msg("回复成功",{icon:6},function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg("回复失败，请重试",{icon:5});
                }
            });
        }
    </script>
</block>