<extend name="Public:base"/>
<block name="main">
<article class="page-container">
	<form action="__APP__/Admin/Manager/password_edit.html" method="post" class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>登录名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			{$mes.username}
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="******" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="******" id="password2" name="pwd">
		</div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button onClick="article_save();" class="btn btn-primary radius" type="button">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
			<button onClick="remove_input();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
		</div>
	</div>
	</form>
</article>

<script type="text/javascript" src="/Public/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript">
	function article_save(){
		var password=$("input[name=password]").val();
		var pwd=$("input[name=pwd]").val();
		
		if(password == ''){
			layer.msg('请输入密码！');
			$("input[name=password]").focus();
			return false;
		}
		if(pwd == ''){
			layer.msg('请再次输入密码');
			$("input[name=pwd]").focus();
			return false;
		}
		if(password != pwd)
		{
			layer.msg('两次输入的密码不一致');
			$("input[name=pwd]").focus();
			return false;
		}
		$("#form-admin-add").submit();
	}
	function remove_input()
    {
        window.location.href='__APP__/Admin/Index/index.html';
    }
</script>
</block>