<extend name="Public:base"/>
<block name="main">
<article class="page-container">
	<form action="__APP__/Admin/Content/role_edit/id/{$mes.id}.html" method="post" class="form form-horizontal" id="form-admin-add" enctype="multipart/form-data">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
		{$mes.username}
		
		</div>
	</div>
	

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="roleid" size="1">
				<option value="2" <if condition="$mes.releid eq 2" >selected</if>>普通管理员</option>
				<option value="1" <if condition="$mes.releid eq 1" >selected</if>>超级管理员</option>
			</select>
			</span> </div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button onClick="article_save();" class="btn btn-primary radius" type="button">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
			<button onClick="remove_input();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
		</div>
	</div>
	</form>
</article>

<script type="text/javascript" src="/Public/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript">
	function article_save(){
		
		$("#form-admin-add").submit();
	}
	function remove_input()
    {
        window.location.href='__APP__/Admin/Manager/index.html';
        // $("input[name=title]").val('');
        // $("option[value='0']").attr('selected','selected');
        // $("textarea[name=note]").val('');
    }
</script>
</block>