<extend name="Public:base"/>
<block name="main">
<article class="page-container">
	<form action="__APP__/Admin/Content/article_add/id/{$mes.id}.html" method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data">
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章摘要：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="summary" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$mes.summary}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<!-- <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>  -->

				<textarea name="content" id="editor" cols="" class=""  placeholder="文章详情" dragonfly="true" nullmsg="备注不能为空！">{$mes.content}</textarea>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$mes.keywords}" placeholder="多个关键字以,隔开" id="" name="keywords">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" cols="" rows="" class="textarea"  placeholder="网站推广描述" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$mes.description}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input type="hidden" name="pid" value="{$pid}">
				<button onclick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onclick="remove_input();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<script type="text/javascript" src="/Public/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript">
	function article_save(){
		var title=$("input[name=title]").val();
		var news_time=$("input[name=news_time]").val();
		var summary=$("textarea[name=summary]").val();
		var content=$("textarea[name=content]").val();
		// alert(name);
		if(title == ''){
			layer.msg("请输入文章标题！");
			$("input[name=title]").focus();
			return false;
		}
		if(news_time == ''){
			layer.msg("请选择新闻发布日期！");
			$("input[name=news_time]").focus();
			return false;
		}
		if(summary == ''){
			layer.msg("请输入新闻摘要！");
			$("input[name=summary]").focus();
			return false;
		}
		if(content == ''){
			layer.msg("请输入新闻详情！");
			$("input[name=content]").focus();
			return false;
		}
		$("#form-article-add").submit();
	}
	function remove_input()
	{
		window.history.back();
		// window.location.href='__APP__/Content/index.html';
	}
	function upload_one()
    {
        $("input[name='titlepic']").click();
    }
</script>

</block>